<! Author: William Forber, Student id: 22015706>
    {% extends "main.html" %}
    {% block container %}
    <div class="Box">
        <div class="Message">
            <p> Thank you for choosing horizon travels! We hope you enjoy your journey.
                Please see below the details of your booking. To get a more detailed view
                please go to the bookings page.
            </p>
        </div>
        <br>
        <br>
        <table class="table table-dark CustomTable">
            <tr>
                <th scope="col">Origin</th>
                <th scope="col">Destination</th>
                <th scope="col">Date</th>
                <th scope="col">Time to leave</th>
                <th scope="col">Time to arrive</th>
            </tr>

            <tr>
                <td>{{bookingInfo[0]}}</td>
                <td>{{bookingInfo[1]}}</td>
                <td>{{bookingInfo[2]}}</td>
                <td>{{bookingInfo[3]}}</td>
                <td>{{bookingInfo[4]}}</td>
            </tr>
        </table>
    </div>
    {% endblock %}