<! Author: William Forber, Student id: 22015706>
        {% extends "main.html" %}

        {% block container %}
        <div class="Box">
                <div class="Message">
                        <p>Creating an account:</p>
                        <div class="MessageSm">
                                <p>
                                        To create an account simply click the
                                        Login/Signup button at the top of the
                                        webpage. Then click the sign up button
                                        which is below the heading Don't have
                                        an account create one here.
                                        Simply enter your information and click create account.
                                        User names and email addresses are limited to 45 characters,
                                        passwords are limited to 64 characters.
                                </p>
                        </div>
                        <br>
                        <p>Logging in:</p>
                        <div class="MessageSm">
                                <p>
                                        To log in click the Login/SignUp button at
                                        the top of the webpage and then enter your
                                        email address and password below the heading
                                        sign in and click the login button.
                                        Once logged in you will be able to edit your
                                        account information and view and or cancel your
                                        bookings.
                                </p>
                        </div>
                        <br>
                        <p>Changing your account infomation:</p>
                        <div class="MessageSm">
                                <p>
                                        To change your account information you first need
                                        to be logged into your account.
                                        Click the account button at the top of the webpage.
                                        Then select what you want to edit e.g(Your user name, email address, password)
                                        Then click the edit information button.
                                        You will be prompted to enter your new information twice,
                                        once entered click the confirm button, your account information is now updated.
                                </p>
                        </div>
                        <br>
                        <p>Logging out:</p>
                        <div class="MessageSm">
                                <p>
                                        To log out of your account click the logout button
                                        at the top of the webpage.
                                </p>
                        </div>
                        <br>
                        <p>Deleting your account</p>
                        <div class="MessageSm">
                                <p>
                                        To delete your account you need to be logged in first.
                                        Click the account button at the top of the webpage.
                                        Then click the delete account button.
                                        Enter your password twice and click delete account.
                                        Your account will then be deleted
                                </p>
                        </div>
                        <br>
                        <p>Making a booking:</p>
                        <div class="MessageSm">
                                <p>
                                        To start the booking process you do not need to be logged in.
                                        To start a booking enter your desired origin and destination, look at the time
                                        table by
                                        clicking show time table at the top of the page for valid journeys you can book.
                                        select what class you want to fly default is Economy, and input
                                        your date of travel. Once filled click the get prices button.
                                </p>
                                <p>
                                        Once clicked you will see a list of available flights from your chosen
                                        origin and destination on the date you selected.
                                        Prices will vary depending on how far in advance you select and what flight you
                                        choose.
                                        Select the booking depending on what the time to leave or arrive suits you.
                                        Click the continue booking button
                                </p>
                                <p>
                                        If you are already logged in you will see the payment screen simply input your
                                        card information and click pay for booking ,you have now made a booking.
                                </p>
                                <p>
                                        If you are not logged in you will be redirected to the login page where you can
                                        either log in or sign up, if you login you will then encounter the payment page.
                                        Follow the instructions above
                                </p>
                                <p>
                                        Please make sure that your not accidently booking the wrong flight as there is
                                        no way to
                                        update
                                        bookings when booked, if you do book the wrong booking you will need to cancel
                                        the
                                        incorrect booking
                                        and rebook the correct flight. Refer to "Canceling a booking" for more
                                        infomation
                                </p>
                        </div>
                        <br>
                        <p>Viewing a booking:</p>
                        <div class="MessageSm">
                                <p>
                                        To do this you need to be logged in first.
                                        Click the bookings button at the top of the webpage.
                                        You will then be able to see all of the bookings you have made.
                                        To see the qr code unique for each booking click the view qr code button
                                        on the desired booking. You can then save the QR code for future use by right
                                        clicking
                                        and selecting
                                        save image.
                                </p>
                        </div>
                        <br>
                        <p>Canceling a booking:</p>
                        <div class="MessageSm">
                                <p>
                                        To cancel a booking you need to be logged in first.
                                        Click the bookings button at the top of the webpage.
                                        Then click the cancel booking button.
                                        Select the booking you would like to cancel and click delete booking.
                                        Depending on how far in advance you cancle you will need to pay a cancellation
                                        fee
                                        enter you card info and click the pay cancellation fee button. You have now
                                        cancelled
                                        your booking.
                                        Please make sure the booking you choose to cancel is the right booking as there
                                        is no
                                        way to
                                        refund / retrieve your booking after it is deleted.
                                </p>
                        </div>
                </div>
        </div>
        {% endblock %}