<! Author: William Forber, Student id: 22015706>
    {% extends "main.html" %}

    {% block container %}
    <div class="Box">
        <div class="Message">
            Your just one step away from booking with us! Please pay to complete the booking process.
            Here is the information about the selected booking:
        </div>
        <br>
        <div class="table-responsive">
            <table class="table table-dark CustomTable">
                <tr>
                    <th scope="col">Origin</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time to leave</th>
                    <th scope="col">TIme to arrive</th>
                    <th scope="col">Price</th>
                </tr>

                <tr>
                    <td>{{bookingInfo[0]}}</td>
                    <td>{{bookingInfo[1]}}</td>
                    <td>{{bookingInfo[2]}}</td>
                    <td>{{bookingInfo[3]}}</td>
                    <td>{{bookingInfo[4]}}</td>
                    <td>£{{bookingInfo[5]}}</td>
                </tr>
            </table>
        </div>
        <div class="Message">
            <p>Once you have paid there is no way to change or refund your booking!</p>
        </div>

        <div class="formColour">
            <form id="TravelForm" action="/bookingConformation" method="post">
                <input type="hidden" name="origin" value="{{bookingInfo[0]}}">
                <input type="hidden" name="dest" value="{{bookingInfo[1]}}">
                <input type="hidden" name="date" value="{{bookingInfo[2]}}">
                <input type="hidden" name="timeToLeave" value="{{bookingInfo[3]}}">
                <input type="hidden" name="timeToArrive" value="{{bookingInfo[4]}}">
                <input type="hidden" name="experience" value="{{bookingInfo[6]}}">
                <input type="hidden" name="userId" value="{{userId}}">
                <div class="row gx-0 justify-content-center">
                    <div class="col-4">
                        <label for="nameOnCard">Name on card:</label>
                        <div class="d-flex justify-content-center">
                            <input type="text" class="form-control" id="nameOnCard" required>
                            <br>
                        </div>
                    </div>
                    &nbsp; &nbsp; &nbsp;
                    <div class="col-4">
                        <label for="cardNumber">Card number:</label>
                        <div class="d-flex justify-content-center">
                            <input type="number" " class=" form-control" required id="cardNumber">
                            <br>
                        </div>
                    </div>
                </div>
                <div class="row gx-0 justify-content-center">
                    <div class="col-4">
                        <label for="securityCode">Security code:</label>
                        <input type="number" class="form-control" required id="securityCode">
                    </div>
                    &nbsp; &nbsp; &nbsp;
                    <div class="col-4">
                        <label for="expire">Expiration date:</label>
                        <input type="date" id="dateOfExpiry" min="" onclick="checkExpiryDate()" class="form-control"
                            required id="expire">
                    </div>
                </div>
                <br>
                <! Submit button for the form>
                    <div class="d-flex justify-content-center">
                        <input type="submit" class="btn btn-primary" id="Submit" value="Pay for booking">
                    </div>
            </form>
        </div>
    </div>
    {% endblock %}