<! Author: William Forber, Student id: 22015706>
    {% extends "main.html" %}
    {% block container %}
    <div class="Box">
        <div class="Message">
            <article>
                <p>
                    To make a booking with us, users have to use an account,
                    this means that we collect and store the users username,
                    email adress and password (in a hashed format), we also
                    collect and store any bookings that the user has made.
                    Included in the booking data is the user id meaning that any booking made can be referenced to a
                    specific user.
                </p>
                <p>
                    We do not collect or store any payment information.
                    If you delete your account all bookings that that account made and the account details will be
                    deleted.
                    If you delete a booking the specific booking is deleted.
                </p>
            </article>
        </div>
    </div>
    {% endblock %}
    {% block footer %}
    Author: William Forber, Student id: 22015706
    {% endblock %}