<! Author: William Forber, Student id: 22015706>
    {% extends "main.html" %}
    {% block container %}
    <div class="Box">
        <div class="Message">
            <p>
                Horizon travels is a organization that provides a option to travel
                across the world. We allow for simple easy bookings, all you need is an account.
                Using our services will allow for you to organize your travel experience with ease.
            </p>
        </div>
    </div>
    {% endblock %}