<! Author: William Forber, Student id: 22015706>
    {% extends "main.html" %}
    {% block container %}
    <div class="Box">
        <div class="Message Center">
            <p>Welcome to the administrator page!</p>
            <br>
            <p>To Update / Delete reccords click alter database.
                To generate a monthly report click Generate report</p>
        </div>
        <br>
        <br>
        <a href="/AlterDatabase"><button class="btn btn-light"> Alter Database</button></a>
        <br>
        <br>
        <a href="/GenReport"><button class="btn btn-light">Generate Report</button></a>
        <br>
    </div>
    {% endblock %}