<! Author: William Forber, Student id: 22015706>
    {% extends "main.html" %}
    {% block container %}
    <div class="Box">
        <div class="Message Center">
            <p>
                SQL Console (Advanced):
            </p>
            <p>
                Input custom SQL statements here:
            </p>
        </div>
        <br>
        <form method="POST" action="/executeStatement" class="TravelForm">
            <input type="text" id="SQL" class="form-control" name="statement" placeholder="SQL Statement" required> <br>
            <div class="ErrorMessage">
                {{errormessage}}
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Execute statement">
        </form>
        <br>
        <div class="Message Center">
            <p>
                Or, choose which table you want to view
            </p>
            <form method="POST" action="/executeStatementDefined">
                <label for="tables">Select table:</label>
                <select class="form-select" id="tables" name="tables">
                    <option value="UserAccounts">User Accounts</option>
                    <option value="Bookings">Bookings</option>
                    <option value="Prices">Prices</option>
                    <option value="TimeTable">Time Table</option>
                    <option value="TimeTableToPrices">Time Table To Prices</option>
                </select>
                <br>
                <input type="submit" class="btn btn-primary" value="Select Table">
            </form>
        </div>
        {% if output %}
        <div class="table-responsive">
            <table class="table table-dark CustomTable">
                <tr>
                    {% for i in range(lengthNames)%}
                    <th scope="col">{{reccordNames[i]}}</th>
                    {% endfor %}
                </tr>
                <br>
                {% for rows in output %}
                <tr>
                    {% for i in range (lengthOutput) %}
                    <td>{{rows[i]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}

        <br>



    </div>
    {% endblock %}