<! Author: William Forber, Student id: 22015706>
    {% extends "main.html" %}
    {% block container %}
    <div class="Box">
        <div class="Message Center">
            <p>Monthly Report:
            <p>During this month the sales were a total of £{{totalSales}}</p>
            <p>Note this does not include canceled bookings as we consider these unsuccessful.</p>
            <p>The top customer in the last month is {{topUser}} spending £{{topUserRevenue}}</p>
            <p>Here is a list of the sales per avalible trip:</p>
            </p>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table table-dark CustomTable">
                <tr>
                    <th scope="col">Time Id</th>
                    <th scope="col">Origin</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Time to leave</th>
                    <th scope="col">Time to arrive</th>
                    <th scope="col">Montly sales for each trip</th>
                </tr>
                {% for rows in timeTable %}
                <tr>
                    <td>{{rows[0]}}</td>
                    <td>{{rows[1]}}</td>
                    <td>{{rows[2]}}</td>
                    <td>{{rows[3]}}</td>
                    <td>{{rows[4]}}</td>
                    <td>£{{tripSales[rows[0]][1]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
    <br>
    {% endblock %}