<! Author: William Forber, Student id: 22015706>
    {% extends "main.html" %}
    {% block container %}
    <div class="Box Code">
        <form name="booking">
            <input type="hidden" name="origin" value="{{bookingInfo[0]}}">
            <input type="hidden" name="destination" value="{{bookingInfo[1]}}">
            <input type="hidden" name="date" value="{{bookingInfo[2]}}">
            <input type="hidden" name="timeToLeave" value="{{bookingInfo[3]}}">
            <input type="hidden" name="email" value="{{bookingInfo[4][1]}}">
            <input type="hidden" name="price" value="{{bookingInfo[5]}}">
            <input type="hidden" name="experience" value="{{bookingInfo[6]}}">
        </form>
        <div class="Message Center">
            <p>Here is your booking receipt:</p>
        </div>
        <div id="code">
            <script>genQrCode()</script>
        </div>

    </div>
    {% endblock %}